$font-family: -apple-system,
              BlinkMacSystemFont,
              'Segoe UI',
              Helvetica,
              Arial,
              sans-serif,
              'Apple Color Emoji',
              'Segoe UI Emoji';

$emoji-font-family: 'Apple Color Emoji',
                    'Segoe UI Emoji',
                    'Noto Color Emoji',
                    'Android Emoji',
                    'Emojisymbols',
                    'Emojione Mozilla',
                    'Twemoji Mozilla',
                    'Segoe UI Symbol';

$font-size: 1rem;
$font-line-height: 1.15;
