<div class="content">

  <main>

    <img class="logo"
         src="{{ 'thret-logo-globe.svg' | assets: 'images' : 'branding' }}"
         alt="Thret Clothing Co.">

    <p>Welcome to Thret Clothing Co. We’re a UK based skate and streetwear clothing brand on a mission to provide quality goods and designs for a reasonable price.</p>
    <p>We’re currently in early stages of development but appreciate your interest. If you wish to contact us, please reach out at one of the contact points listed below.</p>
    <p>- Thret Crew (Ross <span thretEmoji="🏴󠁧󠁢󠁳󠁣󠁴󠁿󠁴󠁿"></span>, Jack T <span thretEmoji="🏴󠁧󠁢󠁥󠁮󠁧󠁿"></span>, Jack D <span thretEmoji="🏴󠁧󠁢󠁳󠁣󠁴󠁿󠁴󠁿"></span>, Michelle <span thretEmoji="🇳🇱"></span>)</p>

  </main>

  <thret-footer></thret-footer>

</div>

<div class="side-image"></div>
